
.item-count-container{
    background-color: white;
}
.contador-container{
    background-color: inherit;
   
}

#add{
    display: block;
    width: 185px;
    margin-left: 68px;
    
    
}

.p-count{
    background-color: white;
}

.buttons-comprar a{
    background-color: inherit;
    color:black;

}

.buttons-comprar a:hover{
    background-color: rgb(35, 111, 136);
    color:black;

}
.buttons-comprar:hover{
    background-color: rgb(35, 111, 136);


}

/*---------------contador en cart-----------------*/
.buttons-add-cart{
    width: 50px;
   /*margin-right: 50px;*/
    background-color: inherit;
    margin-top: 10px;
}



.buttons-sum-minus-cart{
    /*display: inline-block;*/
}

#add-cart{
    /*display: block;*/
    width: 90px;
    margin-right: 225px;
    
}

.contador-container-cart{
    background-color: white;
}

.p-count p{
    background-color:white;
    color: black;
}

@media screen and (min-width: 1000px) {
    


#add{
    display: block;
    width: 185px;
    margin-left: 40px;
    
}

#resta{
    margin-left: 40px;
}

#add-buy{
  
    margin-left: 40px;

}
#add-cart{
    display: block;
    width: 90px;
    margin-left:   5px;
    
}
}