.item-detail-container{
    text-align: center;
    background-color: white;
    /*height: fit-content;*/
   border-radius: 30px;
   border: 5px solid white;

   
}
.item-detail{
   
    width: 300px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    margin:0px auto;/*con esto esta centrado responsive todo el item detail*/
   
      
}


.item-detail img{
    width: 300px;
    height: 300px;
    object-fit: cover;
   border-radius: 30px;
    border: 1px solid blue;
    margin-left: 80px;
   margin: 0px auto;
   transition: transform .2s;
   
}

.item-detail img:hover{
    transform: scale(1.1);
}




.item-detail-detail{
    /*text-align: left;*/
    background-color: white;
    
   
    
}

.item-detail-detail h3{
    color: rgb(6, 6, 211);
    padding: 20px;
   margin-left: 20px;/* con esto queda alineado */
    background-color: white;
}

.item-detail-detail p{
    color: black;
    padding: 20px;
    font-weight: 600;
    margin-left: 20px;/* con esto queda alineado con itemcount*/
    background-color: white;
}

.item-detail-detail button{
    display: inline-block;
    margin-bottom: 5px;
    background-color: rgb(139, 189, 206);   
    color: black;
    font-weight: 600;
    margin-left: 20px;
    border-radius: 10px;
    width: 80px;
    
}

.container-comprar{
    background-color: white;
       
}

.container-comprar button{
    width: 200px;
    margin-bottom: 10px;
    
}

#button-buy{
    margin-top: 85px;
}

#agregar{
    margin-left: 40px;
}




@media screen and (min-width: 1000px) {

    
    .item-detail img{
        width: 570px;
        height: 570px;
        object-fit: cover;
        border-radius: 30px;
        border: 1px solid blue;
    }
    
    .item-detail{
        height: 600px;
        width: 600px;
        width: fit-content;
        margin: 0px auto;
        margin-bottom: 60px;
        margin-top: 60px;
        background-color: white;
        
    }

    .item-detail-detail{
    
        display: inline-block;
        float: right;
        width: 450px;
        height: fit-content;
        text-align: left;
        background-color: white;
        
        
    }

    }
