.item-detail-container{
    text-align: center;
}
.item-detail{
    height: fit-content;
    width: fit-content;
    margin: 0px auto;
    margin-bottom: 60px;
    margin-top: 60px;
}

.item-detail p{
    color: white;
    
}

.item-detail img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    opacity: 0.7;
}

.item-detail img:hover{
    
    opacity: 1;
}


.item-detail-detail{
    
    display: inline-block;
    float: right;
    width: 450px;
    height: fit-content;
    text-align: left;
    
}

.item-detail-detail button{
    display: inline-block;
    margin-bottom: 5px;
    color: white;
    opacity: 0.7;
    margin-left: 20px;
    border-radius: 30px;
    
}

.item-detail-detail button:hover{
   
    background-color:  rgb(26, 96, 165);
    opacity: 1;
}



.item-detail-detail p{
    padding: 20px;
}