.brands-container{
    display: inline-block;
    text-align: center;
}

.brand{
    margin: 0px auto;
    display: inline-block;
    padding: 20px;
    width: fit-content;
}

.brand img{
    
    height: 450px;
    width: 450px;
    object-fit: cover;
   
}

.brand p{
    color: black;
}

@media screen and (max-width: 500px) {/*para carousel celular*/
 
    .brand img{
    
        height: 350px;
        width: 350px;
        object-fit: cover;
       
    }

    .brand{
        padding: 0;
    }

    }