.footer img{
    object-fit: cover;
    padding: 5px;
   
}

.footer{
    background-color: grey;
    height: 130px;
    font-weight: 600;
    width: 100vw;
    
  }

.footer-right{
    margin-top: 10px;
}

@media screen and (max-width: 560px){
    .footer{
        width: 150%;
    }
}