
.div-cart-remove-all button{
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.7;
    border-radius: 20px;
}

.div-cart-remove-all button:hover{
    
    opacity:1;
}

.div-cart img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.div-cart{
   border-top: 1px solid blue;
    
}


h2{
    color: white;
}
td{
    padding: 50px;
    font-weight: 600;
}

#button-empty-cart{
 
    background-color: white;
    font-weight: 600;
    margin-right: 20px;
    opacity: 0.7;
   
}

#button-empty-cart:hover{
 
    opacity: 1;
   
}


#boton-terminar-compra{
    background-color: white;
    font-weight: 600;
    opacity: 0.7;
}

#boton-terminar-compra:hover{
   opacity: 1;
}



#button-delete{
    background-color: white;
    font-weight: 600;
    opacity: 0.7;
}

#button-delete{
    opacity: 1;
}
#boton-carrito-vacio{
    background-color: white;
    font-weight: 600;
    
}

/*------------------tabla---------------*/
.container-cart{
    text-align: center;
}

.table-cart tr{/*improtante esto para tablas, y dividir el width en cada td hasta llegar a 100%*/
    display: flex;
    justify-content: space-between;
    
    
}


.table-cart tr:first-child{
    height: 100px;
    
}
tr td:first-child{
    width: 20%;
   
}
tr td:nth-child(2){
    width: 16%;
}
tr td:nth-child(3){
    width: 16%;
}
tr td:nth-child(4){
    width: 16%;
/*    background-color: red;*/
    
}

tr td:nth-child(5){
    width: 16%;
}

tr td:nth-child(6){
    width: 16%;
}


tr td{
    color: white;
   
}








