.compra{
    text-align: center;
    
    margin-top: 10px;
}
.form-compra{
    color: white;
    text-align: center;
    margin: 0px auto;
    
    
}



h3{
    color: black;
}

h4{
    color: black;
    margin-top: 30px;
    
}

.form-compra-input{

    margin: 0px auto;
    display: block;
    width: 500px;
    background-color: rgb(228, 215, 199);
    border: 1px solid black;
   margin-top: 30px;
}

.form-compra button{
    margin-top: 30px;

    }