*{
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
 /* background-color:  black; /*todo negro, app logo sticky media 80, y navbar sticky 20 sin fondo negro*/
 
}

/*@import-normalize*/




.container{
  margin: 0px auto;
  
  
}




/*-------sticky, para version celular no cambia, mismo diseño que nav normal. ya navbar bootstrap tiene su diseño------*/
#navbar-sticky{
  height: 100px;
  text-align: center;
  background-color: black;
  
}

#navbar-sticky a{/*aunque esten en p, saca el estilo en a*/
  text-decoration: none;
  list-style: none;
  font-weight: 600;
  margin-top: 20px;
 
     
}
#navbar-sticky p{
  font-size: 16px;
  margin-left: 30px;
   

}
#navbar-sticky p:hover{/*aunque esten en p, saca el estilo en a*/
   color:  lightblue;
   
}

.App-logo-sticky {/*lo de la web*/
  height: 80px;
  pointer-events: none;
  float: left;
   
}

/*----------navbarb-----------------------------------------------*/

.App-header{/*para que se vea a lo largo el navbar*/
  width: inherit;
  
}


p{
  color: white;
}
.App {
  text-align: center;
  
}


/*----logo de la web for you-----*/
.App-logo {
  height: 50px;
  pointer-events: none;
  float: left;
   
}
.App-logo-sticky{
  height: 50px;
}

#navbar-b{
 
  height: 100px;
  text-align: center;
  
}



.me-auto{
  margin-left: 5%;
}

#basic-nav-dropdown{
  font-size: 16px;
  margin-left: 30px;
}
#navbar-b a{/*aunque esten en p, saca el estilo en a*/
  text-decoration: none;
  list-style: none;
  font-weight: 600;
  margin-top: 20px;
  
  
}

#navbar-b p{
  font-size: 16px;
  margin-left: 30px;
  
  

}
#navbar-b p:hover{/*aunque esten en p, saca el estilo en a*/
   color: lightblue;
   
}
.contenedor-logo{
  margin-right: 50px;

}   

.dropdown{
  text-align: center;
  
  
 }

.dropdown p{
  color: black;
  background-color: white;
  margin: 0px auto;
  width: 50px;
  
  
}

#basic-nav-dropdown {
  color: white;
}

#basic-nav-dropdown:hover {
  color:  lightblue;
}

.dropdown p:hover{
  color: black;
  background-color: rgb(233, 231, 235);
}





/*-----main celular------------------*/

main{
  display: flex;/*content:flex*/
  flex-direction: column;
  text-align: center;
  margin: 0 auto;

}

.content{
  text-align: center;

}
.footer{
  width: 100%;
}

/*----------------grid escritorio-------*/
@media screen and (min-width: 1076px) {


  .content {
    display: grid;
    grid-template-rows: 80px 1fr 1fr 80px;
    grid-template-columns: repeat(4fr)  ;
  }

  header {
    grid-row: 1/2;
    grid-column: 1/5;
    
   
  }

  main {
    grid-row: 2/4;
    grid-column: 1/5;
   
  }

  .footer{
    grid-row: 4/5;
    grid-column: 1/5;
   
  }


  /*----logo en navbar sticky en escritorio cambia.---*/

  .App-logo-sticky {/*lo de la web*/
    height: 50px;
    pointer-events: none;
    float: left;
   margin-top: 40px;
    
  }

  
/*-------sticky------*/

#navbar-sticky{
  height: 60px;/*antes 20 con todo negro*/
  text-align: center;
  /*position: fixed  ;*/
  top: 0;
  border-radius: 30px;
  
  
}

#navbar-sticky a{/*aunque esten en p, saca el estilo en a*/
  text-decoration: none;
  list-style: none;
  font-weight: 600;
  margin-top: 50px;
  
     
}
#navbar-sticky p{
  font-size: 16px;
  margin-left: 30px;
  
  

}
#navbar-sticky p:hover{/*aunque esten en p, saca el estilo en a*/
   color:  lightblue;
   
}

.App-logo-sticky {/*lo de la web*/
  height: 40px;
  pointer-events: none;
  float: left;
  margin-bottom: 20px;
   
}
}


@media screen and (max-width: 600px) {
  *{
    background-color: inherit;/*para q se vea bien menu desplegable celu*/
     
    }

  }

  @media screen and (max-width: 900px) {
    *{
      background-color: inherit;/*para q se vea bien menu desplegable celu*/
       
      }
  
    }


