*{
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
  background-color: /*rgb(104, 98, 98)*/ black
  
 
}
.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
  float: left;
  
}


.App-link {
  color: #61dafb;
 display: inline-block;
  margin-top: 150px;

  
}

/*-----------------------------navegador*/
li,a{
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: 600;
 
 
}

.navegador-ul{
  display: flex;
 align-items: flex-end;
 height: 80px;  
 
 
}

li{
  margin-left: 20px;
  
}

a:hover{
  color: aqua;
}

header{ /*contenedor de todo el nav*/
  display: flex;
  justify-content: center;
}

.contenedor-logo{
  margin-right: 100px;
}


.botones a{
  color: black;
}

