.item-list{
    text-align: center;
}


.item-list-item{
    height: fit-content;
    width: fit-content;
  
    margin-bottom: 50px;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    border: 1px solid white;
    margin-right: 10px;
}

.item-list-item p{
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.item-list-item img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    opacity: 0.7;
}

.item-list-item img:hover{
    
    opacity: 1;
}
.contador{/*la clase contenedor de contador*/
    margin: 0px auto;
}
.item-list-item button{
    border-radius: 30px;
    color: white;
    opacity: 0.7;
    
}

.item-list-item button:hover{
    color: white;
    background-color:  rgb(26, 96, 165);
    opacity: 1;
}