
.card{
    margin-bottom: 10px;
    border: 1px solid rgb(240, 224, 227);
    
}

.container-cards{
    display: inline-block;
    padding: 50px;
    color: white;
       

}

.card img{
    height: 250px;
    width: 250px;
    object-fit: cover;
}


