
.item-list{
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    min-height: 700px;
   
  
}

.spinner{
    padding: 30px;
    margin-top: 200px;
    background-color: white;
}
a   {
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: 600;
 
 
}

.container-cards{
    display: inline-block;
    padding: 60px;
    color: white;
    margin-top: 0px auto;
    height: fit-content;
   

}/*
.container-item-list-item{
    margin: 0px auto;
}*/

.item-list-item{
  
    width: fit-content;
   
    height: fit-content;
    display: inline-block;
   
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid white;
   margin-left: 10px;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: rgb(29, 28, 28);/*antes sin background*/
   
   
   
  
}

.item-list-item:hover{
    background-color: rgb(63, 60, 60);
    
}

.item-list-item p{
    color: white;
    font-size: 14px;
    font-weight: 600;
   
}

.item-list-item img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    opacity: 0.7;
   
    border: 1px solid black;
    border-radius: 30px;
}

.item-list-item img:hover{
    
    opacity: 1;
}
.contador{/*la clase contenedor de contador*/
    margin: 0px auto;
}
.item-list-item button{
    border-radius: 10px;
    background-color: rgb(139, 189, 206);
    color: black;
    font-weight: 600;
    /*opacity: 0.7;*/
    margin-right: 10px;
    margin-bottom: 10px;
    
}

.item-list-item button:hover{
   
    opacity: 1;
}

